# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# uv / venv
.venv/
.uv/

# ruff
.ruff_cache/

# pre-commit
.pre-commit-hooks/

# OS
.DS_Store

*_buffered.geojson
*_graph.osm.pbf
valhalla.json
valhalla_tiles/
